<div *ngIf="!heroeAgregar.id">
    <h1>Nuevo Heroe <small>{{heroeAgregar.superhero}}</small></h1>
</div>


<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>Super Héroe</mat-label>
                <input matInput type="text" required [(ngModel)]="heroeAgregar.superhero">
            </mat-form-field>

            <mat-form-field fxFlex="50">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" required [(ngModel)]="heroeAgregar.alter_ego">
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Primera Aparición</mat-label>
            <input matInput type="text" required [(ngModel)]="heroeAgregar.first_appearance">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Personaje</mat-label>
            <input matInput type="text" required [(ngModel)]="heroeAgregar.characters">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select [(ngModel)]="heroeAgregar.publisher">
                <mat-option *ngFor="let item of publishers" [value]="item.id">
                    {{ item.description }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto Url</mat-label>
            <input matInput type="url" required [(ngModel)]="heroeAgregar.alt_img">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="addHeroe();">
            <mat-icon>edit</mat-icon>
            Guardar
        </button>
    </div>
    <div fxFlex="50">
        <img [src]="heroeAgregar | heroeImagen">
    </div>
</div>