<h1>Listado Heroes</h1>
<mat-divider></mat-divider>

<!-- <ul>
    <li *ngFor="let item of listadoHeroes">{{item.superhero}}</li>
</ul> -->

<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let item of listadoHeroes">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{item.superhero}}</mat-card-title>
                <mat-card-subtitle>{{item.alter_ego}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="./assets/heroes/{{item.id}}.jpg" [alt]="item.alt_img">

            <mat-card-content>
                <h3>{{item.publisher}}</h3>
                <p>
                    <strong>Primera Aparición: </strong>{{item.first_appearance}}
                    <br>
                    <strong>Personajes: </strong>{{item.characters}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button color="warn">Detalle</button>
                <button mat-button color="info">Editar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>