<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{heroesIn.superhero}}</mat-card-title>
        <mat-card-subtitle>{{heroesIn.alter_ego}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/heroes/{{ heroesIn.id }}.jpg" [alt]="heroesIn.alt_img">

    <mat-card-content>
        <h3>{{heroesIn.publisher}}</h3>
        <p>
            <strong>Primera Aparición: </strong>{{heroesIn.first_appearance}}
            <br>
            <strong>Personajes: </strong>{{heroesIn.characters}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="warn">Detalle</button>
        <button mat-button color="info">Editar</button>
    </mat-card-actions>
</mat-card>