<!-- Componente para mostra las rutas hijas -->

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <h1>Menú</h1>
            <span class="spaces"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item>
                <button mat-icon-button>
                  <mat-icon mat-list-icon>assignment</mat-icon>
               </button>
                <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">Listado de heroes</a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                  <mat-icon mat-list-icon>search</mat-icon>
               </button>
                <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">Buscar</a>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button>
                  <mat-icon mat-list-icon>add</mat-icon>
               </button>
                <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">Añadir</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spaces"></span>
        <button mat-button (click)="logear()">Logout</button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>